<!-- Services Section -->
    <section id="dates">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
			<h2 class="section-heading">Important Dates</h2>
				<h1 class="section-heading">Call for Papers</h3>
					<div class="biggertext">
						- Opens March 10th
						<br>
						- Closes April 10th
						<br>
						Notice of acceptance will be sent by <b>May 22th</b>.
						<br> 
						<a href="INSERT CFP LINK HERE" class="btn-sm">Sign up</a>
					</div>
				<br>
				<h1 class="section-heading">Registration</h3>
				<div class="biggertext">
					- Opens very soon
					<br> 
					- Closes June 1st. 
					<br>
					<a href="INSERT REGISTRATION LINK HERE" class="page-scroll btn btn-sm">Register </a>
				</div>
				<hr style="height:20pt; visibility:hidden;" />
				<h2 class="section-heading">What is the TaCoS?</h2>
					<center>
					<p> The Tagung der Computerlinguistik-Studierenden (TaCoS) was first organized in 1992 and takes place once every year. It offers students of computational linguistics and adjacent fields a chance to exchange views during talks and workshops. The conference is hosted by teams of student volunteers at their university. Participants traditionally receive accommodation and breakfast in exchange for a small fee. At the center of the conference stand talks, workshops, and poster sessions; each given by students for students. Established academics from the host university are invited as keynote speakers as well. In addition, there is a social program for everyone to connect and network.
					<br>
					We are excited to bring the 33. TaCoS to Saarbrücken in 2024!
					</p>
				<center><a href="https://docs.google.com/forms/d/e/1FAIpQLSfuQaKA4w67P2gnkGZPbSFiQEJyqMo2YlbWww-Wh5rXL-8Xdg/viewform" class="page-scroll btn btn-xl">Sign up for the newsletter</a></center>
                <p><a href="https://linguistik.computer/">Previous TaCoS conferences</a> 
                </p> 
				</div>
            </div>
		</div>
    </section>