<!-- Services Section -->
    <section id="scholarships">
        <div class="container">
    
		<div class="col-lg-12 text-center col-md-12">
			<h2 class="section-heading">Attention please!</h2>

			<div>	
			<!--<center>-->
			<p> We currently offer six <b>diversity scholarships</b> for students who would like to give a talk at the TaCos! Visit <a href="./scholarships">the scholarships tab</a> for more information! 
			We thank our sponsors and the Junge Sprachwissenschaft for making this possible. If you would like to sponsor a scholarship click <a href= "./css/2024_style/pdfs_etc/32.TaCoS_Brochure.pdf">here</a> further information.</p>
			<!--</center>-->
		</div>

		<div class ="row">
		<div class="col-md-4 col-sm-12 text-center ">
			<a href="https://dig-hum.de/ueber-dhd" class="portfolio-link" data-toggle="modal">
			<img src="./css/2024_style/img/logos/DHDSmall.png" class="img-responsive img-centered" alt="Visit Digital Humanitites to see what they do!">
			</a>
		</div>
		<div class="col-md-4 col-sm-12 text-center ">
			<a href="https://igdd.org/uber-die-igdd/ziele-der-igdd/" class="portfolio-link" data-toggle="modal">
			<img src="./css/2024_style/img/logos/IGDD.png" class="img-responsive img-centered" alt="Visit Internationale Gesellschaft für Dialektologie des Deutschen to see what they do!">
			</a>
		</div>
		<div class ="col-md-4 col-sm-12 text-center ">
			<a href="https://www.junge-sprachwissenschaft.de/de/seed-grants/#:~:text=Der%20Junge%20Sprachwissenschaft%20e.V.%20vergibt,universit%C3%A4re%20Stellen%20gef%C3%B6rdert%20werden%20k%C3%B6nnen." class="portfolio-link" data-toogle="modal">
			<img src="./css/2024_style/img/logos/jsbHand.png" class="img-responsive img-centered" alt="Visit the Junge Sprachwissenschaft">
			</a>
			</div>
		</div>
		</div>
		<!--<div>	
			<center>
			<p> The Junge Sprachwissenschaft also offers Seed Grants for linguistic projects, including trips to conferences and workshops. If you are were unsure about participating because the conference is taking place too far away, please consider applying!</center>
		</div>-->		
		<!--<div class = "row container col-md-6 col-sm-12 text-center ">

				<h4 class="section-heading">More conference per conference</h4>
				Check out our affiliated student conferences!
				<div class="row">
					<div class="col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-0">
						<a href="https://73.stuts.de/" class="portfolio-link" data-toggle="modal">
							<img src="./css/2024_style/img/logos/Stuts_Logo_yay1.png" class="img-responsive img-centered" alt="The 73rd StuTS in Frankfurt"> </a> 
					</div>
					<div class="col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-0">
						<a href="https://www.thi.de/konvens-2024/" class="portfolio-link" data-toggle="modal">
							<img src="./css/2024_style/img/logos/konvens.png" class="img-responsive img-centered" alt="Conference on Natural Language Processing">
						<center>Submissions end on 19. May</center> </a> 
					</div>
				--> 
	
    </section>