 <!-- Portfolio Modals -->
 {% for spopnsor in site.data.twenty_24.sponsors %}
    <div class="portfolio-modal modal fade" id="{{ spopnsor.company }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ spopnsor.company }}</h2>
                            <hr class="star-primary">
                            <img src="../css/2024_style/img/logos/{{ spopnsor.img }}" class="img-responsive img-centered" alt="{{ spopnsor.company }}">
                            <h4>{{ spopnsor.subtitle }}</h4>
                            <p>{{ spopnsor.description }}</p>
                            <p>{{ spopnsor.website }}</p>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
