<!-- Clients Aside -->
<section id="sponsors">   
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our generous sponsors</h2>
                <center>
                <p>Without the support from our sponsors the TaCoS would not be possible!<br>If you're interested in supporting this event and presenting your company to the participants, click below for more info!</p>
                <a href="/sponsors" class="page-scroll btn btn-xl">Sponsor Info</a>
            </center>
            <br>
            </div>
        </div>	
        <!-- {% for sponsor in site.data.twenty_24.sponsors %}
            <div class="col-md-4 col-sm-4 speakers-item">
                <a href="#{{ sponsor.company }}" class="speakers-link" data-toggle="modal">
                    <div class="speakers-hover">
                        <div class="speakers-hover-content">
                        </div>
                    </div>
                    <img src="../css/2024_style/img/logos/{{ sponsor.thumbnail }}" class="img-responsive img-headshot" alt="{{ sponsor.company }}">
                </a>
                <div class="speakers-caption">
                    <center>
                    <h4>{{ sponsor.company }}</h4>
                    <p class="text-muted">{{ sponsor.subtitle }}</p>
                    </center>
                </div>
            </div>
        {% endfor %} -->
        </div>
    </div>
</section>

    <!--<aside class="clients" >
        <div class="container">

			<div class="row">
                <div class="col-md-12 col-sm-12">
                    <a href="https://dig-hum.de/ueber-dhd" class="portfolio-link" data-toggle="modal">
                        <img src="../css/2024_style/img/logos/DHD.png" class="img-responsive img-centered" alt="Digital Humanities im deutschsprachigen Raum">
					</a>
                </div>
			</div>
				<div class="row">
				 <div class="col-md-4 col-sm-12">
                    <a href="https://igdd.org/uber-die-igdd/ziele-der-igdd/" class="portfolio-link" data-toggle="modal">
                        <img src="../css/2024_style/img/logos/IGDD.png" class="img-responsive img-centered" alt="">
                    </a>
					 </div>
               							
                <div class="col-md-4 col-sm-12">
                    <a href="https://dgfs.de/de/inhalt/ueber/ueber-dgfs" class="portfolio-link" data-toggle="modal">
                        <img src="../css/2024_style/img/logos/DGFS.png" class="img-responsive img-centered" alt="Deutsche Gesellschaft für Sprachwissenschaft">
                    <center> Die Deutsche Gesellschaft für Sprachwissenschaft <br></center>
					</a>
				</div>
				
					</a>
                
				<div class="col-md-4 col-sm-12">
                    <a href="http://foerderlink.de/ueber-den-verein/" class="portfolio-link" data-toggle="modal">
                        <img src="../css/2024_style/img/logos/FoerderLink.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
			</div>
			<div class="row">
                <div class="col-md-2 col-sm-4">
                    <a href="https://gal-ev.de/" class="portfolio-link" data-toggle="modal">
                        <img src="../css/2024_style/img/logos/GAL.png" class="img-responsive img-centered" alt="Gesellschaft für angewandte Linguistik">
                    </a>
                </div>
                <div class="col-md-2 col-sm-4">
                    <a href="https://societaslinguistica.eu/" class="portfolio-link" data-toggle="modal">
                        <img src="../css/2024_style/img/logos/SLE.png" class="img-responsive img-centered" alt="Societas Linguistica">
                    </a>
					
                </div>
                <div class="col-md-2 col-sm-4">
                    <a href="https://www.roestmeister.com/" class="portfolio-link" data-toggle="modal">
                        <img src="../css/2024_style/img/logos/Roestmeister.png" class="img-responsive img-centered" alt="Die Röstmeister">
                    </a>
					
                </div>
                <div class="col-md-6 col-sm-12">
                    <a href="https://y.digital/" class="portfolio-link" data-toggle="modal">
                        <img src="../css/2024_style/img/logos/y.digital-logo.png" class="img-responsive img-centered" alt="Y.Digital">
                    </a>
                </div>
			</div>
			<div class="row">
			
			<div class="col-md-2 col-sm-12">
                    <a href="https://www.narr.de/linguistik-stage" class="portfolio-link" data-toggle="modal">
                        <img src="../css/2024_style/img/logos/NARR.png" class="img-responsive img-centered" alt="Narr Francke Attempto Verlag">
					</a>
                </div>
			<div class="col-md-5 col-sm-12">
                    <a href="https://www.buergeruni.hhu.de/" class="portfolio-link" data-toggle="modal">
                        <img src="../css/2024_style/img/logos/HHU.png" class="img-responsive img-centered" alt="Heinrich-Heine Universität Düsseldorf">
                    <center> Dekanat der Philosophischen Fakultät <br>
					Fakultät der allgemeinen Sprachwissenschaften <br>
					Fakkultät der Computer Linguistik
					</center>
					</a>
                </div>
			<div class="col-md-5 col-sm-12">
                    <a href="https://www.unifreunde-duesseldorf.de/de/" class="portfolio-link" data-toggle="modal">
                        <img src="../css/2024_style/img/logos/GFFU_Logo_cmyk.png" class="img-responsive img-centered" alt="Gesellschaft von Freunden und Förderern der
Heinrich-Heine-Universität Düsseldorf e.V. GFFU">
                  </a>
				  </div>
				  </div>
            </div>
        </div>
    </aside>-->