<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Welcome!</h2>
                </div>
            </div>
            <div class="row container">
		<center>
		<p> The Tagung der Computerlinguistik-Studierenden (TaCoS) was first organized in 1992 and takes place once a year. It offers students of computational linguistics and adjacent fields a chance to exchange views during talks and workshops. The conference is hosted by teams of student volunteers at their university. Participants traditionally recieve accommodation and breakfast in exchange for a small fee. At the center of the conference stand talks, workshops, and poster sessions; each given by students. Established academics from the host university are invited as keynote speakers as well. In addition, there is a social program for everyone to connect and network.
                <div>
		This website is still under construction! Sign up to our newsletter to recieve updates on the conference. 
		</div>
		</p>
		<center><a href="https://docs.google.com/forms/d/e/1FAIpQLSfuQaKA4w67P2gnkGZPbSFiQEJyqMo2YlbWww-Wh5rXL-8Xdg/viewform" class="page-scroll btn btn-xl">Sign up for the newsletter</a></center>
                <p><a href="https://linguistik.computer/">Previous TaCoS conferences</a> 
                </p>
		</center>
            </div>
        </div>
    </section>
