<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
					<h2 class="section-heading">Welcome!</h2>
                </div>
            </div>
            <div class="row container">
		<center>
		<p> The Tagung der Computerlinguistik-Studierenden (TaCoS) was first organized in 1992 and takes place once every year. It offers students of computational linguistics and adjacent fields a chance to exchange views during talks and workshops. The conference is hosted by teams of student volunteers at their university. Participants traditionally receive accommodation and breakfast in exchange for a small fee. At the center of the conference stand talks, workshops, and poster sessions; each given by students for students. Established academics from the host university are invited as keynote speakers as well. In addition, there is a social program for everyone to connect and network.
		<br>
		This year marks the 32. TaCoS and our team at Heinrich-Heine University in Düsseldorf is proud to host the event this summer.
		</p>
		More information follows as we progress. Sign up to our newsletter to recieve updates on the conference. 
		</div>
		</p>          
        </div>
    </section>