<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Welcome!</h2>
                </div>
            </div>
            <div class="row container">
		<center>
		<p> This website is still under construction! Sign up to our newsletter to recieve updates on the conference. 
		</p>
		<center><a href="https://docs.google.com/forms/d/e/1FAIpQLSfuQaKA4w67P2gnkGZPbSFiQEJyqMo2YlbWww-Wh5rXL-8Xdg/viewform" class="page-scroll btn btn-xl">Sign up for the newsletter</a></center>
                <p><a href="https://linguistik.computer/">Previous TaCoS conferences</a> 
                </p>
		</center>
            </div>
        </div>
    </section>
