<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Scholarships</h2>
                </div>
            </div>
            <div class="row container">
		<center>
		<p> We offer scholarships for students who are giving a talk at the TaCos! These scholarships will cover the conference fee and
		some traveling expenses. To apply for a scholarship send us an email: <a href= "mailto:tacos2023@linguistik.computer">tacos2023@linguistic.computer</a>
                <div>
			If you would like to sponsor a scholarship click <a href= "../css/2023_style/pdfs_etc/32.TaCoS_Brochure.pdf">here</a> further information.
		</div>
		</p>
                </p>
		</center>
            </div>
        </div>
    </section>
