<!-- Services Section -->
    <section id="scholarships">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Scholarships</h2>
                </div>
            </div>
            <div class="row container">
		<center>
		<p> We currently offer two diversity scholarships for students who would like to give a talk at the TaCos! These scholarships will cover the conference fee and
		some traveling expenses. To apply for a scholarship use the contact form below or send us an email: <a href= "mailto:tacos2023@linguistik.computer">tacos2023@linguistic.computer</a>
			
		<div class="col-md-6 col-sm-4 col-md-offset-3 col-sm-offset-4">
                    <a href="https://dig-hum.de/ueber-dhd" class="portfolio-link" data-toggle="modal">
                        <img src="../css/2023_style/img/logos/DHD.png" class="img-responsive img-centered" alt="Visit Digital Humanitites to see what they do!">
                    </a>
                </div>
		</div>
		<div>			
			<p> We thank the above sponsor for making this possible. If you would like to sponsor a scholarship click <a href= "../css/2023_style/pdfs_etc/32.TaCoS_Brochure.pdf">here</a> further information.
		</div>
		</p>
                </p>
		</center>
            </div>
        </div>
    </section>