<!DOCTYPE html>
<html>

  {% include 2023_data/head.html %}

    <body id="page-top" class="index">

    {% include 2023_data/header-home.html %}

    <!-- Header -->
    <header>
	<link rel="apple-touch-icon" sizes="180x180" href="/css/20123_style/img/LogoIcons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/css/2023_style/img/LogoIcons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/css/2023_style/img/LogoIcons/favicon-16x16.png">
	<link rel="icon" href="/css/2023_style/img/LogoIcons/favicon.ico">
	<link rel="manifest" href="/css/2023_style/img/LogoIcons/site.webmanifest">
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Tacos conference<br></div>
                <div class="intro-lead-in">June 29th to July 2nd 2023</div>
                <div class="intro-lead-in">Heinrich Heine Universität Düsseldorf</div>
                <a href="../agenda" class="page-scroll btn btn-xl">AGENDA</a>
            </div>
        </div>
    </header>
	{% include 2023_data/newIntro.html %}
    {% include 2023_data/team_members.html %}
        {% include 2023_data/team_members_info.html %}
    {% include 2023_data/sponsors.html %}
	{% include 2023_data/speakers.html %}
		{% include 2023_data/speakers_info.html %}
	{% include 2023_data/locations.html %}
		{% include 2023_data/locations_info.html %}
	{% include 2023_data/about.html %}
    {% include 2023_data/contact.html %}
    {% include 2023_data/footer.html %}
    {% include 2023_data/js.html %}

    </body>
</html>
