<!DOCTYPE html>
<html>

  {% include 2016_data/head.html %}


    <body id="page-top" class="index">

    {% include 2017_data/header-home.html %}

    <!-- Header -->
    <header>
	<link rel="apple-touch-icon" sizes="180x180" href="/css/2017_style/img/LogoIcons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/css/2017_style/img/LogoIcons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/css/2017_style/img/LogoIcons/favicon-16x16.png">
	<link rel="icon" href="/css/2017_style/img/LogoIcons/favicon.ico">
	<link rel="manifest" href="/css/2017_style/img/LogoIcons/site.webmanifest">
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Tacos conference<br></div>
                <div class="intro-lead-in">2022</div>
                <div class="intro-lead-in">Heinrich Heine Universität Düsseldorf</div>
                <a href="#intro" class="page-scroll btn btn-xl">Tell Me More</a>
            </div>
        </div>
    </header>

    {% include 2017_data/intro.html %}
    {% include 2017_data/speakers.html %}
    {% include 2017_data/about.html %}
    {% include 2017_data/sponsors.html %}
    {% include 2016_data/contact.html %}
    {% include 2016_data/footer.html %}
    {% include 2017_data/speakers_info.html %}
    {% include 2016_data/js.html %}

    </body>
</html>
