<!DOCTYPE html>
<html>

  {% include 2024_data/head.html %}

    <body id="page-top" class="index">

    {% include 2024_data/header-home.html %}

    <!-- Header -->
    <header>
	<link rel="apple-touch-icon" sizes="180x180" href="/css/2024_style/img/LogoIcons/tacos_2024_logo_circle.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/css/2024_style/img/LogoIcons/tacos_2024_logo_circle.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/css/2024_style/img/LogoIcons/tacos_2024_logo_circle.png">
	<link rel="icon" href="/css/2024_style/img/LogoIcons/tacos_2024_logo_circle.png">
	<link rel="manifest" href="/css/2024_style/img/LogoIcons/site.webmanifest">
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading strokeme">TaCoS conference<br></div>
                <div class="intro-lead-in strokeme">May 15-19, 2024</div>
                <div class="intro-lead-in strokeme">Saarland University</div>
            </div>
                <!--<a href="../agenda" class="page-scroll btn btn-xl">AGENDA</a>-->
        </div>
    </header>
	{% include 2024_data/newIntro.html %}
    {% include 2024_data/news.html %}
    {% include 2024_data/speakers.html %}
		{% include 2024_data/speakers_info.html %}
    {% include 2024_data/sponsors.html %}
    {% include 2024_data/locations.html %}
		{% include 2024_data/locations_info.html %}
    {% include 2024_data/team_members.html %}
        {% include 2024_data/team_members_info.html %}
	{% include 2024_data/about.html %}
    {% include 2024_data/contact.html %}
    {% include 2024_data/footer.html %}
    {% include 2024_data/js.html %}

    </body>
</html>
